@media screen and (max-width: 1200px){

    header{
        height: 90vh;
    }

    .hero-text-box{
        width: 95%;
    }

    .sidebar-social-section{
        margin: 1rem 0;
    }
    .sidebar-social-section li i{
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
        font-size: 1.6rem;
    }

    .select-item-box{
        height: 15rem;
    }

    .sefety-section{
        padding: 16rem 0;
    }

    .avil-services-section{
        padding: 12rem 0;
    }

    .why-choose-section{
        padding: 17rem 0;
    }

    .footer-download-apps img{
        width: 10rem;
    }
}

@media screen and (max-width: 1170px){
    .row{
        margin: 0 15px;
    }
}

@media screen and (max-width: 1024px){

    header{
        height: 90vh;
    }

    .main-nav{
        display: none;
    }

    .mobile-menu .menu{
        display: block;
    }

    .header-content p{
        width: 70%;
    }

    .sefety-section{
        padding: 16rem 0;
    }

    .avil-services-section{
        padding: 10rem 0;
    }

    .why-choose-section{
        padding: 13rem 0;
    }
     
}

@media screen and (max-width: 980px){
    header{
        height: 95vh;
    }

    .header-content h1{
        font-size: 6rem;
    }
    .header-content h2{
        font-size: 4rem;
    }

    .select-item-box{
        margin-bottom: 0;
    }
    .select-item-section .span_1_of_5{
        width: 49.2%;
    }
    .select-item-section .col:nth-child(3){
        margin-left: 0;
        margin-top: 3.5rem;
    }
    .select-item-section .col:nth-child(4){
        margin-top: 3.5rem;
    }
    .select-item-section .col:nth-child(5){
        margin-left: 0;
        margin-top: 3.5rem;
    }
    .select-item-section .col:nth-child(6){
        margin-left: .7rem;
        margin-top: 3.5rem;
    }
    .select-item-section .col:nth-child(7){
        margin-left: 0;
        margin-top: 3.5rem;
    }
    .select-item-section .col:nth-child(8){
        margin-top: 3.5rem;
    }
    .select-item-section .col:nth-child(9){
        margin-left: 0;
        margin-top: 3.5rem;
    }
    .select-item-section .col:nth-child(10){
        margin-top: 3.5rem;
    }

    .sefety-section{
        padding: 16rem 0;
    }

    .avil-services-section{
        padding: 9rem 0;
    }

    .why-choose-section{
        padding: 13rem 0;
    }

    .client-review-main-box{
        width: 90%;
        margin-left: 5%;
        text-align: center;
    }

    .footer-section .span_1_of_4{
        width: 100%;
    }
    .column-1 p{
        width: 60%;
    }
    .footer-section .col:nth-child(2){
        margin-left: 0;
        margin-top: 3rem;
    }
    .footer-section .col:nth-child(3){
        margin-left: 0;
    }
    .footer-section .col:nth-child(4){
        margin-left: 0;
    }
    .footer-download-apps img{
        width: 15rem;
    }


}

@media screen and (max-width: 1010px){
    .sefety-section{
        padding: 14rem 0;
    }
}

@media screen and (max-width: 850px){
    header{
        height: 100vh;
    }

    .hero-text-box{
        top: 15%;
    }
    .hero-text-box .span_1_of_2{
        width: 100%;
    }
    .hero-text-box .col:nth-child(2){
        margin-left: 0;
    }
    .number-img img{
        width: 30%;
        margin-bottom: 1rem;
    }
    .header-contact-form{
        margin-top: 1.5rem;
        height: 28rem;
    }

    .header-content p{
        width: 60%;
    }

}

@media screen and (max-width: 768px){

    .recommended-box img{
        height: 18rem;
    }

    .for-your-home-box img{
        height: 18rem;
    }

    .personal-care-box img{
        height: 18rem;
    }

    .trending-box img{
        height: 18rem;
    }

    .sefety-section{
        padding: 12rem 0;
    }

    .avil-services-section{
        padding: 7rem 0;
    }

    .why-choose-section{
        padding: 10rem 0;
    }

    .do-not-find-section .span_1_of_2{
        width: 100%;
    }
    .do-not-find-section .col:nth-child(2){
        margin-left: 0;
    }
    .do-find-button{
        margin-top: 2rem;
    }
}

@media screen and (max-width: 720px){

    header{
        height: 115vh;
    }

    .header-content p{
        width: 70%;
    }

    .sefety-section{
        padding: 11rem 0;
    }

    .why-choose-section{
        padding: 9rem 0;
    }

    .client-review-main-box{
        width: 100%;
        margin-left: 0;
    }

    .column-1 p{
        width: 80%;
    }
}

@media screen and (max-width: 500px){
    .select-item-section .span_1_of_5{
        width: 40%;
    }

    .select-item-box{
        margin-left: 25%;
    }
}



@media screen and (max-width: 480px){

    html{
        font-size: 56.25%;
    }

    header{
        height: 120vh;
    }

    .hero-text-box{
        top: 18%;
    }

    .hero-text-box .col:nth-child(2){
        margin-left: -.5rem;
    }

    .overlay .closeBtn{
        font-size: 2.7rem;
    }

    .select-item-section .span_1_of_5{
        width: 45%;
    }

    .select-item-box{
        margin-left: 20%;
    }

    .number-img img{
        width: 40%;
    }

    .header-content h1{
        font-size: 5.5rem;
    }
    .header-content h2{
        font-size: 3.8rem;
    }
    .header-content p{
        width: 100%;
    }

    .sefety-section{
        padding: 6rem 0;
    }

    .avil-services-section{
        padding: 5rem 0;
    }

    .why-choose-section{
        padding: 7rem 0;
    }

    .do-not-find-content h3{
        font-size: 3rem;
    }

    .client-review-box img{
        width: 13rem;
        height: 13rem;
    }
    .client-review-box h4{
        font-size: 1.5rem;
    }

    .column-1 p{
        width: 100%;
    }
}

@media screen and (max-width: 360px){
    html{
        font-size: 50%;
    }
}

@media screen and (max-width: 300px){

    h2{
        font-size: 2.2rem;
    }

    .header-content h2{
        font-size: 3.2rem;
    }

    .sefety-section{
        padding: 5rem 0;
    }

    .avil-services-section{
        padding: 4rem 0;
    }

    .why-choose-section{
        padding: 5rem 0;
    }

    .do-find-button .btn-2{
        margin-left: 0;
        margin-top: 1.5rem;
    }
}



















